# Temporary files
*~
*.swp
*.csv

# BoxLib build directories
d/
o/
f/
extern.f90
AMReX_buildInfo.cpp
*_bu
out_*
*_test
*_new

# Executable
*.ex
*.pyc

# Run output
*.p3d
plt*
*plt*old*
Backtrace*
grdlog
chk*

# OSX files
.DS_Store

# script
*.py
